{% include 'site-title' with 'white' %}

<div class="page page-404">
    <article class="content-block">
        <header class="content-header border-above">
            <h1 class="content-title content-title-solo">404</h1>
        </header>
        <section class="content-detail border-below">
            <div class="rte">
                <p><strong><em>Page Not Found</em></strong></p>
                <p>The page you requested does not exist. Click <a href="/">here</a> to continue.</p>
            </div>
        </section>
    </article>
</div><!-- .page -->