<div class="page page-blog">

    <header class="content-header">
        <h1 class="content-title content-title-solo border-above">
            <span class="inner">{{ blog.title }}</span>
        </h1>
    </header>

    <div class="newsletter-wrap js-sticky" data-sticky-top="117">
        <div class="newsletter-signup clearfix">
            <p>Sign up for the newsletter:</p>
            <form action="http://sarahlindsay.us7.list-manage.com/subscribe/post?u=7cebbcad273e63d0bde4485fd&amp;id=44b259289d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <fieldset>
                    <legend>Newsletter</legend>
                    <input type="email" name="EMAIL" id="mce-EMAIL" placeholder="Enter your email address" required><!--
                    --><input type="submit" value="Submit" name="subscribe" id="mc-embedded-subscribe">
                 </fieldset>
            </form>
        </div>
    </div>