<div class="site-intro parallaxed" id="site-intro">

    {% include 'site-title' with 'white' %}

    <article class="content-block rte">
        <header class="content-header">
            <p class="content-type">{{ page.title }}</p>
            <h1 class="content-title">{{ settings.collection_title }}</h1>
        </header>
        <p class="scroll-to-shop btn"><a href="#shop">Scroll to shop</a></p>
        <section class="content-detail">
            {{ page.content }}
        </section>
    </article>
</div>