<div class="js-sticky js-sticky-site-title">
    <div class="site-title">
        <object class="js-svg site-title-svg" data="{{'img-app-sarah_lindsay_logo{{}}.svg' | asset_url}}" width="100%" height="47" type="image/svg+xml">
            <p class="site-title-text">sarah lindsay</p>
        </object>
    </div>
</div>